@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

:root {
  /* --background: #feede6; */
  --background: #fff;
  --foreground: #171717;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-vns-primary: #65350f;
  --color-vns-secondary: #fe6121;
  --color-vns-accent: #fe723a;
  --color-vns-bg: #feede6;
  --font-pacifico: "Pacifico", cursive;
  --font-sans: "PT Sans", sans-serif;
  --animate-underline: underline 0.3s ease forwards;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #feede6;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font: var(--font-sans);
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
